extends ../layouts/admin

block beforeContent
    .controls
        input(type="button", value=(show.specialsHidden ? 'Show specials' : 'Hide specials'), id="hideSpecialsButton").button
        | 
        input(type="button", value="Edit", id="editButton").button
        | 
        input(type="button", value="Pause", id="pauseButton").button
        | 
        input(type="button", value="Delete", id="deleteButton").button
        | 
        input(type="button", value="Force update", id="forceUpdateButton").button

block content
    .container#topbar
        #side
            img(src="/poster/show/" + show.id)
        #info
            .top
                .main
                    span.rating #{show.rating}/10
                    span.country #{show.country}
                    =' - '
                    span.year (#{show.year})
                    span.time #{show.episodeLength}
                    =' - '
                    span.imdb
                        a(href='http://dereferer.org/?http://www.imdb.com/title/' + show.providers.imdbId) IMDB
                    span.thetvdb
                        a(href='http://dereferer.org/?http://thetvdb.com/?tab=series&id=' + show.providers.thetvdbId) TheTVDB
                .genres
                    - for genre in show.genres
                        span.genre.styled
                            - if(genre.url)
                                a(href='http://dereferer.org/?' + genre.url) #{genre.title}
                            - else
                                | #{genre.title}
            .container.styled
                table.info
                    tbody
                        tr
                            td Quality:
                            td
                                span.quality #{show.quality}
                        tr
                            td Originally Airs:
                            td
                                span #{show.airDate}
                        tr
                            td Show status:
                            td
                                span #{show.status}
                        tr
                            td Location:
                            td
                                span #{show.location}
                        tr
                            td Size:
                            td
                                span #{show.size}
    - show.seasons.reverse();
    - for season in show.seasons
        - if(season.seasonNumber != 0 || (season.seasonNumber == 0 && !show.specialsHidden))
            h1.title #{season.seasonNumber == 0 ? 'Specials' : 'Season ' + season.seasonNumber}
            table.pure-table.seasons
                thead
                    tr
                        td.col-checkbox
                            input(type="checkbox")
                        td.col-ep Episode
                        td.col-name Name
                        td.col-airdate AirDate
                        td.col-status Status
                        td.col-search Search
                tbody
                    - season.episodes.reverse();
                        - for episode in season.episodes
                            - episodeStatus = (new Date(episode.airDate).getTime() > new Date().getTime() || new Date(episode.airDate).getTime() == 0) ? 'unAired' : 'wanted';
                            tr(class=(episode.download ? 'complete' : episodeStatus), id=('0' + episode.seasonNumber).slice(-2) + ('0' + episode.episodeNumber).slice(-2))
                                td.col-checkbox
                                    input(type="checkbox")
                                td.col-ep #{episode.episodeNumber}
                                td.col-name #{episode.title}
                                td.col-airdate
                                    - var todaysDate = new Date();
                                    time(datetime=((new Date(episode.airDate).getTime() == 0) ? 'Unknown' : (episode.airDate).toISOString())) #{(new Date(episode.airDate).getTime() == 0) ? 'Unknown' : episode.airDate}
                                td.col-status
                                    if(episode.download)
                                        | Downloaded
                                        | &nbsp;
                                        span.quality #{episode.download.quality}
                                    else
                                        | #{episodeStatus}
                                td.col-search
                                    a(href="/manual/search/show/episode/" + episode.id) Ø
