extends ./layouts/main

block content
    .shows
        - for show in shows
            -var progress = ((show.downloads.done + show.downloads.pending) / show.downloads.total * 100) || 100;
            .holder.styled
                a(href="/shows/" + show.id)
                    img(src="/poster/shows/" + show.id)
                .progressbar
                    span.bar(style="width:" + progress + "%", class=(progress == 100 ? 'completed' : progress >= 50 ? 'halfway' : 'start'))
                .info
                    span.title #{show.title}
                    span.status #{show.status}
                    span.downloads #{show.downloads.done + show.downloads.pending} / #{show.downloads.total}
                    span.quality #{show.quality}
                    span.network #{show.network.title}
            
