extends ../layouts/main

block beforeContent
    .controls
        input(type="button", value="Edit", id="editButton").button
        | 
        input(type="button", value="Pause", id="pauseButton").button
        | 
        input(type="button", value="Delete", id="deleteButton").button
        | 
        input(type="button", value="Force update", id="forceUpdateButton").button

block content
    .container#topbar
        #side
            img(src="/poster/show/" + show.id)
        #info
            .top
                .main
                    span.stars #{show.stars}
                    span.country #{show.country}
                    | 
                    | - 
                    | 
                    span.year (#{show.year})
                    span.time #{show.episodeLength}
                    | 
                    | - 
                    | 
                    span.imdb #{show.imdb}
                    span.thetvdb #{show.thetvdb}
                .tags
                    - for tag in show.tags
                        span.tag
                            - if(tag.url)
                                a(href=tag.url) #{tag.name}
                            - else
                                #{tag.name}
            .container.styled
                table.info
                    tbody
                        tr
                            td Quality:
                            td
                                span.quality #{show.quality}
                        tr
                            td Originally Airs:
                            td
                                span #{show.airDate}
                        tr
                            td Show status:
                            td
                                span #{show.status}
                        tr
                            td Location:
                            td
                                span #{show.location}
                        tr
                            td Size:
                            td
                                span #{show.size}
    table.pure-table.seasons
        thead
            tr
                td.col-checkbox
                    input(type="checkbox")
                td.col-ep Episode
                td.col-name Name
                td.col-airdate AirDate
                td.col-status Status
                td.col-search Search
        tbody
            - for season in show.seasons
                - for episode in season.episodes
                    tr(class=(new Date(episode.airDate).getTime() > new Date().getTime()) ? 'unAired' : (episode.downloadStatus == 'downloaded' ? 'complete' : 'pending'))
                        td.col-checkbox
                            input(type="checkbox")
                        td.col-ep #{episode.episodeNumber}
                        td.col-name #{episode.title}
                        td.col-airdate
                            time(datetime=episode.airDate) #{episode.airDate}
                        td.col-status #{episode.downloadStatus}
                        td.col-search
                            a(href="/manual/search/show/episode/" + episode.id) Ø
